BasedOnStyle: LLVM

# Indentation and tabs
IndentWidth: 4
TabWidth: 4
UseTab: Always

# Braces and control structures
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true

# Formatting preferences
ColumnLimit: 110
PointerAlignment: Right
SpaceAfterCStyleCast: false

# space management
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterControlStatements: false
    AfterFunctionDefinitionName: false

SpacesInParens: Custom
SpacesInParensOptions:
   ExceptDoubleParentheses: true
   InConditionalStatements: true
   Other: false

# Optional alignments
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: false
IndentPPDirectives: BeforeHash


# General C-style tuning
IndentCaseLabels: true

# ------------------------------------------------------------
# Include ordering
# ------------------------------------------------------------

SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  # Local headers
  - Regex: '^".*\.h"$'
    Priority: 2
    SortPriority: 2

  # System headers
  - Regex: '^<.*\.h>$'
    Priority: 1
    SortPriority: 1
