Checks: >
  clang-analyzer-*,
  -clang-analyzer-cplusplus.*,
  -clang-analyzer-security.*,
  bugprone-*,
  readability-*,
  -readability-braces-around-statements,
  performance-*,
  -modernize-*,
  -cppcoreguidelines-*


HeaderFilterRegex: ^src/
WarningsAsErrors: false
FormatStyle: file
