Checks: >
  clang-analyzer-*,
  -clang-analyzer-cplusplus.*,
  -clang-analyzer-security.*,
  bugprone-*,
  readability-*,
  -readability-braces-around-statements,
  performance-*,
  -modernize-*,
  -cppcoreguidelines-*,
  -readability-uppercase-literal-suffix

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '100'

HeaderFilterRegex: ^src/
WarningsAsErrors: false
FormatStyle: file
