# exclude evrything
*

# allowed directories + extension
!doc/
!doc/**
!doc/**/*.c
!doc/**/*.md
!doc/**/*.txt
!doc/**/*.png
!doc/**/*.jpg
!mk/
!mk/**
!mk/**/*.mk
!src/
!src/**
!src/**/*.c
!src/**/*.h
!src/**/*.rc
!src/**/*.err

# allowed files
!.clang-format
!.clang-tidy
!.gitingnore
!audit_todo
!CHANGELOG
!LICENSE
!Makefile
!README.md
!.build_counter
