# exclude evrything
*

# allowed directories + extension
!doc/
!doc/**/*.c
!doc/**/*.md
!doc/**/*.txt
!doc/**/*.png
!doc/**/*.jpg
!mk/
!mk/**/*.mk
!src/
!src/**/*.c
!src/**/*.h
!src/**/*.rc
!src/**/*.err

# allowed files
!.clang-format
!.clang-tidy
!.gitignore
!audit_todo
!CHANGELOG
!LICENCE
!Makefile
!README.md
!version.h
!xmacro
