# exclude evrything
*

# allowed directories
!doc
!doc/**
!mk
!mk/**
!src
!src/**

# allowed extentions
!*.c
!*.h
!*.rc
!*.err
!*.mk
!*.md

# allowed files
!./.clang-format
!./.clang-tidy
!./audit_todo
!./CHANGELOG
!./LICENCE
!./Makefile
!./README.md
!./version.h
!./.gitignore.old
