BasedOnStyle: LLVM

# Indentation and tabs
IndentWidth: 4
TabWidth: 4
UseTab: Always

# Braces and control structures
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true

# Formatting preferences
ColumnLimit: 110
PointerAlignment: Right
SpaceAfterCStyleCast: false

# space management
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterControlStatements: false
    AfterFunctionDefinitionName: false

SpacesInParens: Custom
SpacesInParensOptions:
   ExceptDoubleParentheses: true
   InConditionalStatements: true
   Other: false

# Optional alignments 
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: false

# General C-style tuning
SortIncludes: false
IndentCaseLabels: true
